/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { padding-top: 40px; }
.timeline {
  position: relative;
  height: 100px;
  background-color: #e6e6fa;
  cursor: text;
}
.videofile {
  position: absolute;
  height: 80px;
  margin-top: 20px;
  background-color: #42aaff;
  z-index: 100;
}
.event {
  position: absolute;
  height: 60px;
  margin-top: 40px;
  background-color: #e49b0f;
  z-index: 101;
}
.event:hover {
  background-color: #ff0033;
}
