%h2 Камера ##{resource.id}(#{resource.code})

%p
  %strong= resource_class.human_attribute_name(:about) + ':'
  %br
  = resource.about

.row-fluid
  .span3
    Дата:
    %i.icon-calendar
    %b
      %span#date=l Date.today
    .datepicker
    %br
    Масштаб временной ленты
    %br
    %button.btn#zoom-in
      %i.icon-zoom-in
    %button.btn#zoom-out
      %i.icon-zoom-out
  .span9
    %embed#vlc{type: "application/x-vlc-plugin", pluginspage: "http://www.videolan.org", width: 640, height: 480, toolbar: 'false'}/
    %object{classid: "clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921", codebase: "http://download.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab"}

.timeline-wrapper
  .timeline{data: { date: Date.today.to_s, width: 100, seek_url: seek_camera_path(resource), events_url: timeline_entries_camera_path(resource) }}
    .pointer
    .time
